{% load static %}
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="{% static 'forum/bootstrap/js/jquery-3.4.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'forum/bootstrap/js/bootstrap.min.js' %}"></script>
        <link type="text/css" href="1.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'forum/bootstrap/css/bootstrap.min.css' %}" type="text/css">
         <style>
        .nav-item{text-align: right;
        }
        
        </style>
    </head>
    <body>
        
     

          <nav style="margin-bottom:10px" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <div style="margin-left:75px;">
                    <img style="height:60px; margin-bottom: 10px;"  class="img-thumbnail img-fluid rounded-circle" src="{% static 'forum/img/symb.jpg' %}">
                    <a href=" " style="margin-top:10px;"class="navbar-brand nav-link"><h3>D.J. Sanghvi</h3></a>
                
                </div>
                <div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button></div>
                   <div style="margin-right:60px; " class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
                        <ul class="navbar-nav">
                            <li class="nav-item navbar-brand" style="margin-top:10px;" ><h3>Welcome {{ user.username }}</h3></li>
                            <li class="nav-item dropdown"><button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown">  <img style="height:50px; "  class="img-thumbnail img-fluid rounded-circle" src="img/symb.jpg">#img of stud#
                               
                        <div class="dropdown-menu bg-dark">
                                    <ul class="justify-content-end">
                                        <li><a href="profile.html"class="nav-link">Profile</a></li>
                                         <li ><a href="home.html" class="nav-link">Logout</a></li>
                                    </ul>
                        </div>
                                     </button></li> 
                               
                        </ul>
                    </div> 
                </div>
        </nav>
    </body>
</html>