{% extends 'forum/base.html' %}

{% block content %}
    <div style="margin-top:90px"class="question">
        <h2>{{ question.title }}<button style = "background-color:#fff" class="btn btn-primary"><a href = "{% url 'question_edit' pk=question.pk %}">Edit<span><i class="fa fa-pencil"></i></span></a></button></h2>
		{% if question.published_date %}
            <div class="date">
                {{ question.published_date }}
            </div>
        {% endif %}
        <p>{{ question.text | linebreaksbr }}</p>
		<p>Asked by: {{question.author}}</p>
		Tags:
		{% for t in question.tags.all %}
			{{ t }}, 
		{% endfor %}
    </div>
	<br>
	<button style = "background-color:#fff" class="btn btn-primary"><a href = "{% url 'answer_new' pk=question.pk %}">Answer this question <span><i class="fa fa-pencil"></span></a></button>
	<h3>{{answer_count}} Answer(s):</h3>
	<div class = "answers">
		{% for answer in answers %}				
			<p>{{ answer.text|linebreaksbr }}</p>
			{% if answer.published_date %}
				<div class="date">
					{{ answer.published_date }}
				</div>
			{% endif %}
			<p>Answered by: {{answer.author}}</p><button style = "background-color:#fff" class="btn btn-primary"><a href = "{% url 'answer_edit' pk=answer.pk %}">Edit<span ><i class="fa fa-pencil"></i></span></a></button>
			<hr>
			<br>
		{% endfor %}
	</div>		
{% endblock %}
