{% extends 'forum/base.html' %}
{% block content %}
	<h2>Homepage</h2>
	<p>Hello {{ user.username }}!</p>
	<div style="margin-top:90px;margin-left:20px;" class="row"><h2 >{{question_count}} Questions</h2><button style="margin-left:20px;" class="btn btn-md btn-primary" ><a href="{% url 'question_new' %}" style="color:#fff" class="top-menu"><span ><i class="fa fa-pencil"></i></span></a></button></div>
	{% for question in questions %}
		<div class="question">
	    		<h2><a href = "{% url 'question_detail' pk=question.pk %}">{{ question.title }}</a></h2>
	    		<p>{{ question.text|linebreaksbr }}</p>
			<div class="date">
			<p>published: {{ question.published_date }}</p>
	    		</div>
		</div>
	{% endfor %}
{% endblock %}
